*.iml
.gradle
/local.properties
/.idea
.idea/*
/.idea/caches
/.idea/shelf
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/tools/tmp
/crashpad
/external
/.claude/settings.local.json
/dumps
/crashkit/src/main/cpp/crashpad/include/out
